body {
	text-align: center;
	margin: 0 auto;
	background-color: blanchedalmond;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
	margin-right: 5px;

	text-align: left;
}
p {
	margin: 5px;
}
.container {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
#menuNav {
	width: 350px; 
	height: 170;
	text-align: center;
	align-content: center;
	align-items: center;
	margin: 0 auto;
}

 nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
	align-content: center;
	padding: 0;
	margin: 0;
  } 


  .total {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  }
  