body {
	text-align: center;
	margin: 0 auto;
}
.container {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	/*background-color: blue;*/
}


/* #canva {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
} */
/* #canva {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
} */

canvas {
    border: 1px solid red;
	background-image: "./scripts/index.js";
  }
  